# dependencies
/dist
/node_modules
/.pnp
.pnp.js

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
debug.log*

# Editor directories and files
/.idea
/.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.eslintcache

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.*.local
